In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/traffic volume.csv")
df.head()

  holiday    temp  rain  snow weather        date      Time  traffic_volume
0    None  288.28   0.0   0.0  Clouds  02-10-2012  09:00:00            5545
1    None  289.36   0.0   0.0  Clouds  02-10-2012  10:00:00            4516
2    None  289.58   0.0   0.0  Clouds  02-10-2012  11:00:00            4767
3    None  290.13   0.0   0.0  Clouds  02-10-2012  12:00:00            5026
4    None  291.14   0.0   0.0  Clouds  02-10-2012  13:00:00            4918

In [ ]:
print(df["holiday"].dtype)
print(df["temp"].dtype)
print(df["rain"].dtype)
print(df["snow"].dtype)
print(df["weather"].dtype)
print(df["date"].dtype)
print(df["Time"].dtype)
print(df["traffic_volume"].dtype)

object
float64
float64
float64
object
object
object
int64

In [ ]:
w = list(df["weather"].unique())
w

['Clouds',
 'Clear',
 'Rain',
 'Drizzle',
 'Mist',
 'Haze',
 nan,
 'Fog',
 'Thunderstorm',
 'Snow',
 'Squall',
 'Smoke']

In [ ]:
l = list(df["holiday"].unique())
l

['None',
 'Columbus Day',
 'Veterans Day',
 'Thanksgiving Day',
 'Christmas Day',
 'New Years Day',
 'Washingtons Birthday',
 'Memorial Day',
 'Independence Day',
 'State Fair',
 'Labor Day',
 'Martin Luther King Jr Day']

In [ ]:
df.shape

(48204, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   holiday         48204 non-null  object
 1   temp            48151 non-null  float64
 2   rain            48202 non-null  float64
 3   snow            48192 non-null  float64
 4   weather         48155 non-null  object
 5   date            48204 non-null  object
 6   Time            48204 non-null  object
 7   traffic_volume  48204 non-null  int64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.9+ MB

In [ ]:
## Deal with missing values
from collections import Counter

In [ ]:
print(Counter(df["rain"]))
print(Counter(df["snow"]))

Counter({0.0: 44735, 0.25: 948, 0.51: 256, 1.02: 123, 0.3: 121, 0.76: 109, 0.38: 99, 1.78: 91, 1.52: 69, 0.64: 55, 1.27: 50, 0.6: 32, 2.79: 29, 0.44: 26, 0.89: 25, 2.54: 23, 0.28: 23, 0.42: 21, 1.4: 21, 0.34: 20, 2.16: 19, 2.29: 19, 2.03: 19, 1.8: 16, 1.09: 16, 3.05: 15, 0.32: 15, 1.2: 15, 0.9: 15, 0.98: 14, 0.68: 13, 0.81: 13, 4.57: 13, 7.11: 12, 0.85: 12, 0.7: 11, 2.1: 11, 0.55: 11, 5.59: 10, 1.86: 10, 8.4: 10, 1.15: 10, 0.47: 9, 5.08: 9, 1.21: 9, 0.43: 9, 6.1: 9, 5.84: 8, 1.66: 8, 0.79: 8, 0.4: 8, 1.14: 8, 2.2: 8, 1.85: 8, 2.41: 8, 3.3: 8, 1.41: 7, 6.6: 7, 0.35: 7, 1.91: 7, 0.52: 7, 1.3: 7, 0.8: 7, 0.66: 7, 2.67: 7, 1.33: 7, 1.1: 7, 4.06: 7, 0.57: 6, 0.29: 6, 0.36: 6, 1.0: 6, 1.44: 6, 8.64: 6, 1.35: 6, 5.97: 6, 0.56: 6, 0.91: 6, 0.54: 6, 0.94: 6, 0.96: 6, 2.86: 6, 0.78: 6, 2.22: 6, 6.35: 6, 4.89: 6, 0.93: 6, 3.13: 6, 0.63: 6, 2.62: 6, 1.6: 6, 4.74: 6, 2.76: 6, 3.45: 6, 0.69: 5, 3.18: 5, 0.61: 5, 5.42: 5, 1.39: 5, 0.53: 5, 0.48: 5, 0.59: 5, 0.71: 5, 0.27: 5, 2.85: 5, 0.65: 5, 1.5: 5, 3.41: 5, 4.29: 5, 1.72: 5, 2.61: 5, 1.69: 5, 4.15: 5, 9.62: 5, 0.84: 4, 6.94: 4, 4.32: 4, 1.68: 4, 0.41: 4, 1.06: 4, 2.05: 4, 0.88: 4, 4.45: 4, 5.46: 4, 2.7: 4, 4.21: 4, 9.9: 4, 0.86: 4, 5.92: 4, 10.67: 4, 13.46: 4, 3.94: 4, 20.07: 4, 3.27: 4, 4.0: 4, 2.92: 4, 10.6: 4, 1.34: 3, 1.84: 3, 1.7: 3, 5.74: 3, 4.98: 3, 3.65: 3, 12.19: 3, 7.54: 3, 16.38: 3, 1.65: 3, 3.81: 3, 7.37: 3, 10.54: 3, 19.9: 3, 25.32: 3, 21.42: 3, 9.53: 3, 13.21: 3, 2.37: 3, 3.98: 3, 4.27: 3, 1.13: 3, 0.97: 3, 14.73: 3, 0.95: 3, 1.07: 3, 1.11: 3, 1.24: 3, 3.19: 3, 4.76: 3, 5.27: 3, 11.58: 3, 7.02: 3, 3.08: 3, 1.98: 3, 1.04: 3, 1.55: 3, 6.89: 3, 3.9: 3, 5.02: 3, 4.09: 3, 1.19: 3, 4.8: 3, 4.18: 3, 1.49: 3, 9.4: 3, 3.2: 3, 7.97: 3, 23.8: 3, 11.78: 3, 7.51: 3, 2.15: 3, 9.91: 3, 27.57: 3, 7.29: 3, 13.64: 3, 7.25: 3, 2.91: 3, 20.24: 3, 13.32: 3, 4.38: 3, 3.54: 3, 6.47: 3, 1.56: 3, 8.04: 3, 25.46: 3, 3.74: 3, 2.49: 3, 5.04: 3, 5.36: 3, 2.38: 3, 3.28: 3, 4.04: 3, 3.86: 3, 5.69: 3, 6.01: 3, 5.21: 3, 4.7: 3, 10.92: 3, 7.62: 3, 11.23: 3, 9.42: 3, 10.16: 3, 9.15: 3, 3.75: 3, 1.82: 3, 5.62: 3, 3.1: 3, 2.6: 3, 1.45: 3, 2.26: 3, 2.48: 3, 5.12: 3, 1.01: 3, 4.79: 3, 5.19: 3, 3.39: 2, 0.46: 2, 9.14: 2, 3.56: 2, 16.0: 2, 1.96: 2, 4.39: 2, 28.7: 2, 0.83: 2, 0.72: 2, 0.31: 2, 0.26: 2, 0.58: 2, 1.08: 2, 1.71: 2, 2.21: 2, 0.62: 2, 1.12: 2, 1.46: 2, 1.32: 2, 0.87: 2, 7.39: 2, 1.83: 2, 0.5: 2, 0.77: 2, 2.98: 2, 4.43: 2, 6.45: 2, 1.76: 2, 7.77: 2, 8.89: 2, 15.41: 2, 5.25: 2, 8.02: 2, 12.7: 2, 1.03: 2, 5.86: 2, 7.87: 2, 1.67: 2, 3.09: 2, 1.51: 2, 7.72: 2, 4.64: 2, 2.06: 2, 2.4: 2, 2.96: 2, 6.48: 2, 5.89: 2, 2.39: 2, 2.88: 2, 3.4: 2, 1.29: 1, 44.45: 1, 55.63: 1, 18.8: 1, 0.37: 1, 0.67: 1, 1.87: 1, 0.33: 1, 2.13: 1, 1.63: 1, 1.38: 1, 2.35: 1, 2.11: 1, 2.53: 1, 0.92: 1, 1.22: 1, 1.05: 1, 2.31: 1, 3.17: 1, 2.14: 1, 2.34: 1, 1.61: 1, 5.58: 1, 5.11: 1, 5.1: 1, 4.53: 1, 1.25: 1, 4.5: 1, 3.47: 1, 0.45: 1, 2.18: 1, 2.84: 1, 2.93: 1, 2.87: 1, 2.8: 1, 0.74: 1, 1.28: 1, 1.47: 1, 4.66: 1, 2.08: 1, 3.12: 1, 1.53: 1, 3.25: 1, 1.9: 1, 12.45: 1, 1.37: 1, 2.78: 1, 1.31: 1, 3.44: 1, 2.75: 1, 2.19: 1, 1.59: 1, 5.73: 1, 5.93: 1, 3.91: 1, 18.03: 1, 1.88: 1, 3.01: 1, 2.12: 1, 0.73: 1, 11.59: 1, 2.33: 1, 5.52: 1, 1.93: 1, 2.68: 1, 10.05: 1, 7.7: 1, 4.05: 1, 3.8: 1, 9831.3: 1, 16.51: 1, 12.83: 1, 18.42: 1, 5.06: 1, 1.95: 1, 9.0: 1, 8.86: 1, 5.99: 1, 8.0: 1, 31.75: 1, 5.41: 1, 2.83: 1, 15.75: 1, 3.64: 1, 7.13: 1, 1.16: 1, 7.05: 1, 2.73: 1, nan: 1, nan: 1})
Counter({0.0: 48129, 0.05: 14, 0.06: 12, 0.51: 6, 0.25: 6, 0.13: 6, 0.1: 6, 0.32: 5, 0.17: 3, 0.44: 2, 0.08: 2, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, 0.21: 1, nan: 1})

In [ ]:
df["temp"].fillna(df["temp"].mean(), inplace = True)
df["rain"].fillna(df["rain"].mean(), inplace = True)
df["snow"].fillna(df["snow"].mean(), inplace = True)

In [ ]:
print(Counter(df["weather"]))

Counter({'Clouds': 15144, 'Clear': 13383, 'Mist': 5942, 'Rain': 5665, 'Snow': 2875, 'Drizzle': 1818, 'Haze': 1359, 'Thunderstorm': 1033, 'Fog': 912, nan: 49, 'Smoke': 20, 'Squall': 4})

In [ ]:
# As there are more number of clouds, fill missing with 'Clouds'
df["weather"].fillna('Clouds', inplace = True)

In [ ]:
df.isnull().sum()

holiday           0
temp              0
rain              0
snow              0
weather           0
date              0
Time              0
traffic_volume    0
dtype: int64

In [ ]:
df[0:21795].isnull().sum()

holiday           0
temp              0
rain              0
snow              0
weather           0
date              0
Time              0
traffic_volume    0
dtype: int64

In [ ]:
# There are 3 missing values in last row, so leave it behind
df = df[0:21795]

In [ ]:
# Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["weather"] = le.fit_transform(df["weather"])
df["holiday"] = le.fit_transform(df["holiday"])

In [ ]:
print(sorted(list(df["weather"].unique())))
print(sorted(list(df["holiday"].unique())))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
df["weather"] = le.fit_transform(df["weather"])
df["holiday"] = le.fit_transform(df["holiday"])

In [ ]:
df.head()

   holiday    temp  rain  snow  weather        date      Time  traffic_volume
0        7  288.28   0.0   0.0        1  02-10-2012  09:00:00            5545
1        7  289.36   0.0   0.0        1  02-10-2012  10:00:00            4516
2        7  289.58   0.0   0.0        1  02-10-2012  11:00:00            4767
3        7  290.13   0.0   0.0        1  02-10-2012  12:00:00            5026
4        7  291.14   0.0   0.0        1  02-10-2012  13:00:00            4918

In [ ]:
df[["day","month","year"]] = df["date"].str.split("-", expand = True)

In [ ]:
df[["hours","minutes","seconds"]] = df["Time"].str.split(":", expand = True)

In [ ]:
df.drop(columns=['date','Time'], axis = 1, inplace=True)

In [ ]:
df.head()

,holiday,temp,rain,snow,weather,traffic_volume,day,month,year,hours,minutes,seconds
0,7,288.28,0.0,0.0,1,5545,02,10,2012,09,00,00
1,7,289.36,0.0,0.0,1,4516,02,10,2012,10,00,00
2,7,289.58,0.0,0.0,1,4767,02,10,2012,11,00,00
3,7,290.13,0.0,0.0,1,5026,02,10,2012,12,00,00
4,7,291.14,0.0,0.0,1,4918,02,10,2012,13,00,00

In [ ]:
# Since the values are bigger, We should scale the data
y = df["traffic_volume"]
x = df.drop(columns=["traffic_volume"], axis = 1)

In [ ]:
print(x.shape)
print(y.shape)

(21795, 11)
(21795,)

In [ ]:
names = x.columns
from sklearn.preprocessing import scale
x = scale(x)
x = pd.DataFrame(x, columns = names)
x.head()

,holiday,temp,rain,snow,weather,day,month,year,hours,minutes,seconds
0,0.011802,0.635482,-0.143932,-0.040521,-0.550649,-1.550702,0.952213,-1.529671,-0.350645,0.0,0.0
1,0.011802,0.710272,-0.143932,-0.040521,-0.550649,-1.550702,0.952213,-1.529671,-0.206717,0.0,0.0
2,0.011802,0.725507,-0.143932,-0.040521,-0.550649,-1.550702,0.952213,-1.529671,-0.062788,0.0,0.0
3,0.011802,0.763595,-0.143932,-0.040521,-0.550649,-1.550702,0.952213,-1.529671,0.081140,0.0,0.0
4,0.011802,0.833538,-0.143932,-0.040521,-0.550649,-1.550702,0.952213,-1.529671,0.225069,0.0,0.0

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 0)

In [ ]:
# Model Building
from sklearn import linear_model
from sklearn import tree
from sklearn import ensemble
from sklearn import svm
import xgboost

In [ ]:
lin_reg = linear_model.LinearRegression()
DTree = tree.DecisionTreeRegressor()
svr = svm.SVR()
rand = ensemble.RandomForestRegressor()
XGB = xgboost.XGBRegressor()

In [ ]:
lin_reg.fit(x_train, y_train)
DTree.fit(x_train, y_train)
svr.fit(x_train, y_train)
rand.fit(x_train, y_train)
XGB.fit(x_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [ ]:
p1 = lin_reg.predict(x_test)
p2 = DTree.predict(x_test)
p3 = rand.predict(x_test)
p4 = svr.predict(x_test)
p5 = XGB.predict(x_test)

In [ ]:
from sklearn import metrics
print("Linear Regression:",'{:^30.2f}'.format(metrics.r2_score(p1, y_test)*100))
print("Decision Tree:",'{:^40.2f}'.format(metrics.r2_score(p2, y_test)*100))
print("Random Forest:",'{:^40.2f}'.format(metrics.r2_score(p3, y_test)*100))
print("Support Vector Machine:",'{:^20.2f}'.format(metrics.r2_score(p4, y_test)*100))
print("XGBoost:",'{:^52.2f}'.format(metrics.r2_score(p5, y_test)*100))

Linear Regression:            -572.33
Decision Tree:                  69.94
Random Forest:                  81.31
Support Vector Machine:       -5100.68
XGBoost:                        79.74

In [ ]:
# Thus Random forest has the highest r2score
# Save the rf model
import pickle as p
p.dump(rand, open("model.pk1", "wb"))
p.dump(le, open("encoder.pk1", "wb"))

In [ ]:
with open("/content/model.pk1",'rb') as f:
  reg = p.load(f)

In [ ]:
df = df.drop(columns=["traffic_volume"])

In [ ]:
reg.predict(df)

array([1236.87, 1236.87, 1236.87, ..., 1304.77, 1304.77, 1304.77])

In [ ]:
df.shape

(21795, 11)